/* General styles */

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --black: black;
  --white: white;
  --lime: lime;
  --blue: blue;
  --red: red;
  --orange: orange;
  --yellow: yellow;
  --russian-violet: #120d31;
  --powder-blue: #a1c6ea;
  --glaucous: #507dbc;

  --animation-duration: 500ms;
  --size: 100px;
}

*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Rubik", sans-serif;
}

main {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;

  height: 100vh;

  background-color: var(--powder-blue);
}

li {
  list-style-type: none;
}

/* Title */

main > section {
  transform: translateX(-50%);

  z-index: 100;
  position: fixed;
  top: 2rem;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main > section > h1 {
  margin-bottom: 1rem;

  color: var(--russian-violet);
}

main > section > p,
main > section > p > a {
  color: var(--russian-violet);
}

/* Checkboxes */

main > ul {
  z-index: 100;
  position: fixed;
  right: 2rem;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

main > ul > li {
  position: relative;

  display: flex;
  justify-content: center;

  border-radius: 0.25rem;

  background-color: var(--white);

  transition: background-color 300ms ease-in-out;
}

main > ul > li:hover {
  background-color: var(--glaucous);
}

main > ul > li:has(input:checked) {
  background-color: var(--glaucous);
}

main > ul > li > input {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

main > ul > li > label {
  padding: 1rem;

  color: var(--powder-blue);
}

main > ul > li > label:hover {
  cursor: pointer;
}

/* Cube */

main > div {
  width: 300px;
  height: 300px;
  margin: 0 auto;

  animation: bounce 2.5s ease-in-out infinite;
}

main > div > div {
  transform-style: preserve-3d;
  transform: scale(1) rotateY(45deg) rotateX(-45deg);

  width: 100%;
  height: 100%;

  perspective: 300em;
}

main > div > div * {
  transform-style: preserve-3d;
}

main > div > div > div {
  transform: rotateX(var(--rX, 0)) rotateY(var(--rY, 0)) rotateZ(var(--rZ, 0)) translateX(calc(var(--x, 0) * calc(var(--scale, 1)) * var(--size))) translateY(calc(var(--y, 0) * calc(var(--scale, 1)) * var(--size)))
    translateZ(calc(var(--z, 0) * calc(var(--scale, 1)) * var(--size)));

  position: absolute;

  display: none;

  width: var(--size);
  height: var(--size);

  top: 100px;
  left: 100px;

  transition: transform var(--animation-duration) ease-in-out;
}

head[data-slider-1-value="3"] ~ body > main > div > div > div:nth-child(-n + 27) {
  display: block;
}

head[data-slider-1-value="5"] ~ body > main > div > div > div {
  display: block;
}

head[data-slider-1-value="5"] ~ body > main > div > div > div {
  --size: 60px;

  top: 112.5px;
  left: 112.5px;
}

main > div > div > div > span {
  position: absolute;

  width: var(--size);
  height: var(--size);
  border: 5px solid var(--black);
}

main > div > div > div > span:nth-child(1) {
  transform: rotateY(0deg) translateZ(calc(var(--size) / 2));

  background-color: var(--lime);
}

main > div > div > div > span:nth-child(2) {
  transform: rotateY(90deg) translateZ(calc(var(--size) / 2));

  background-color: var(--blue);
}

main > div > div > div > span:nth-child(3) {
  transform: rotateY(180deg) translateZ(calc(var(--size) / 2));

  background-color: var(--red);
}

main > div > div > div > span:nth-child(4) {
  transform: rotateY(-90deg) translateZ(calc(var(--size) / 2));

  background-color: var(--orange);
}

main > div > div > div > span:nth-child(5) {
  transform: rotateX(90deg) translateZ(calc(var(--size) / 2));

  background-color: var(--white);
}

main > div > div > div > span:nth-child(6) {
  transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));

  background-color: var(--yellow);
}

/* Cube rotation animation */

main:has(#rotate-cube:checked) > div > div {
  animation: rotate 5s ease-in-out infinite;
}

/* Cube scale */

main:has(#scale:checked) > div > div > div {
  --scale: 1.5;
}

/* Image */

/* 3 by 3 */

head[data-slider-1-value="3"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(-n + 9) > span:nth-child(1) {
  background-size: 300px 300px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/49/Koala_climbing_tree.jpg");
}

head[data-slider-1-value="3"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(1) > span:nth-child(1) {
  background-position: left top;
}

head[data-slider-1-value="3"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(2) > span:nth-child(1) {
  background-position: center top;
}

head[data-slider-1-value="3"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(3) > span:nth-child(1) {
  background-position: right top;
}

head[data-slider-1-value="3"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(4) > span:nth-child(1) {
  background-position: left center;
}

head[data-slider-1-value="3"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(5) > span:nth-child(1) {
  background-position: center center;
}

head[data-slider-1-value="3"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(6) > span:nth-child(1) {
  background-position: right center;
}

head[data-slider-1-value="3"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(7) > span:nth-child(1) {
  background-position: left bottom;
}

head[data-slider-1-value="3"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(8) > span:nth-child(1) {
  background-position: center bottom;
}

head[data-slider-1-value="3"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(9) > span:nth-child(1) {
  background-position: right bottom;
}

/* 5 by 5 */

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(-n + 25) > span:nth-child(1) {
  background-size: 375px 375px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/49/Koala_climbing_tree.jpg");
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(1) > span:nth-child(1) {
  background-position: 0% 0%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(2) > span:nth-child(1) {
  background-position: 20% 0%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(3) > span:nth-child(1) {
  background-position: 40% 0%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(4) > span:nth-child(1) {
  background-position: 60% 0%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(5) > span:nth-child(1) {
  background-position: 80% 0%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(6) > span:nth-child(1) {
  background-position: 0% 20%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(7) > span:nth-child(1) {
  background-position: 20% 20%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(8) > span:nth-child(1) {
  background-position: 40% 20%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(9) > span:nth-child(1) {
  background-position: 60% 20%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(10) > span:nth-child(1) {
  background-position: 80% 20%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(11) > span:nth-child(1) {
  background-position: 0% 40%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(12) > span:nth-child(1) {
  background-position: 20% 40%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(13) > span:nth-child(1) {
  background-position: 40% 40%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(14) > span:nth-child(1) {
  background-position: 60% 40%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(15) > span:nth-child(1) {
  background-position: 80% 40%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(16) > span:nth-child(1) {
  background-position: 0% 60%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(17) > span:nth-child(1) {
  background-position: 20% 60%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(18) > span:nth-child(1) {
  background-position: 40% 60%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(19) > span:nth-child(1) {
  background-position: 60% 60%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(20) > span:nth-child(1) {
  background-position: 80% 60%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(21) > span:nth-child(1) {
  background-position: 0% 80%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(22) > span:nth-child(1) {
  background-position: 20% 80%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(23) > span:nth-child(1) {
  background-position: 40% 80%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(24) > span:nth-child(1) {
  background-position: 60% 80%;
}

head[data-slider-1-value="5"] ~ body > main:has(#add-image:checked) > div > div > div:nth-child(25) > span:nth-child(1) {
  background-position: 80% 80%;
}

/* Footer */

footer {
  z-index: 100;
  position: fixed;
  bottom: 2rem;

  display: flex;
  justify-content: center;

  width: 100%;
}

footer > div {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  padding: 1rem;
  border-radius: 0.25rem;

  background-color: var(--white);
}

footer > div > p {
  color: var(--powder-blue);
}

footer > div > input[type="range"] {
  -webkit-appearance: none !important;

  height: 0.75rem;
  border-radius: 50rem;

  background: var(--powder-blue);
}

footer > div > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;

  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;

  background: var(--glaucous);
}

/* Keyframes */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: scale(1) rotateY(45deg) rotateX(-45deg);
  }

  50% {
    transform: scale(1) rotateY(225deg) rotateX(-225deg);
  }

  100% {
    transform: scale(1) rotateY(45deg) rotateX(-45deg);
  }
}
