/* General styles */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --black: black;
  --white: white;
  --lime: lime;
  --blue: blue;
  --red: red;
  --orange: orange;
  --yellow: yellow;
  --glaucous: #7a89c2;

  --animation-duration: 500ms;
}

*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
}

main {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;

  height: 100vh;

  background-color: var(--glaucous);
}

li {
  list-style-type: none;
}

/* Checkboxes */

main > ul {
  transform: translateX(-50%);

  position: fixed;
  top: 4rem;
  left: 50%;

  display: flex;
  column-gap: 1rem;
}

main > ul > li {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

/* Cube */

main > div {
  width: 300px;
  height: 300px;
  margin: 0 auto;

  animation: bounce 2.5s ease-in-out infinite;
}

main > div > div {
  transform-style: preserve-3d;
  transform: scale(1) rotateY(45deg) rotateX(-45deg);

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  height: 100%;

  perspective: 300em;
}

main > div > div * {
  transform-style: preserve-3d;
}

/* Position cubes */

/* First layer */

main > div > div > div:nth-child(1) {
  --x: -1;
  --y: -1;
  --z: 1;
}

main > div > div > div:nth-child(2) {
  --y: -1;
  --z: 1;
}

main > div > div > div:nth-child(3) {
  --x: 1;
  --y: -1;
  --z: 1;
}

main > div > div > div:nth-child(4) {
  --x: -1;
  --z: 1;
}

main > div > div > div:nth-child(5) {
  --z: 1;
}

main > div > div > div:nth-child(6) {
  --x: 1;
  --z: 1;
}

main > div > div > div:nth-child(7) {
  --x: -1;
  --y: 1;
  --z: 1;
}

main > div > div > div:nth-child(8) {
  --y: 1;
  --z: 1;
}

main > div > div > div:nth-child(9) {
  --x: 1;
  --y: 1;
  --z: 1;
}

/* Middle layer */

main > div > div > div:nth-child(10) {
  --x: -1;
  --y: -1;
}

main > div > div > div:nth-child(11) {
  --y: -1;
}

main > div > div > div:nth-child(12) {
  --x: 1;
  --y: -1;
}

main > div > div > div:nth-child(13) {
  --x: -1;
}

main > div > div > div:nth-child(15) {
  --x: 1;
}

main > div > div > div:nth-child(16) {
  --x: -1;
  --y: 1;
}

main > div > div > div:nth-child(17) {
  --y: 1;
}

main > div > div > div:nth-child(18) {
  --x: 1;
  --y: 1;
}

/* Last layer */

main > div > div > div:nth-child(19) {
  --x: -1;
  --y: -1;
  --z: -1;
}

main > div > div > div:nth-child(20) {
  --y: -1;
  --z: -1;
}

main > div > div > div:nth-child(21) {
  --x: 1;
  --y: -1;
  --z: -1;
}

main > div > div > div:nth-child(22) {
  --x: -1;
  --z: -1;
}

main > div > div > div:nth-child(23) {
  --z: -1;
}

main > div > div > div:nth-child(24) {
  --x: 1;
  --z: -1;
}

main > div > div > div:nth-child(25) {
  --x: -1;
  --y: 1;
  --z: -1;
}

main > div > div > div:nth-child(26) {
  --y: 1;
  --z: -1;
}

main > div > div > div:nth-child(27) {
  --x: 1;
  --y: 1;
  --z: -1;
}

main > div > div > div {
  transform: rotateX(var(--rX, 0)) rotateY(var(--rY, 0)) rotateZ(var(--rZ, 0))
    translateX(calc(var(--x, 0) * calc(var(--scale, 1)) * 100px))
    translateY(calc(var(--y, 0) * calc(var(--scale, 1)) * 100px))
    translateZ(calc(var(--z, 0) * calc(var(--scale, 1)) * 100px));

  position: absolute;

  width: 100px;
  height: 100px;

  top: 100px;
  left: 100px;

  transition: transform var(--animation-duration) ease-in-out;
}

main > div > div > div > span {
  position: absolute;

  width: 100px;
  height: 100px;
  border: 5px solid var(--black);
}

main > div > div > div > span:nth-child(1) {
  transform: rotateY(0deg) translateZ(50px);

  background-color: var(--lime);
}

main > div > div > div > span:nth-child(2) {
  transform: rotateY(90deg) translateZ(50px);

  background-color: var(--blue);
}

main > div > div > div > span:nth-child(3) {
  transform: rotateY(180deg) translateZ(50px);

  background-color: var(--red);
}

main > div > div > div > span:nth-child(4) {
  transform: rotateY(-90deg) translateZ(50px);

  background-color: var(--orange);
}

main > div > div > div > span:nth-child(5) {
  transform: rotateX(90deg) translateZ(50px);

  background-color: var(--white);
}

main > div > div > div > span:nth-child(6) {
  transform: rotateX(-90deg) translateZ(50px);

  background-color: var(--yellow);
}

/* Cube rotations */

/* Top */

main:has(#rotate-top:checked) > div > div > div:nth-child(n + 1):nth-child(-n + 3),
main:has(#rotate-top:checked) > div > div > div:nth-child(n + 10):nth-child(-n + 12),
main:has(#rotate-top:checked) > div > div > div:nth-child(n + 19):nth-child(-n + 21) {
  --rY: 90deg;
}

/* Front */

main:has(#rotate-front:checked) > div > div > div:nth-child(-n + 9) {
  --rZ: 90deg;
}

/* Middle */

main:has(#rotate-middle:checked) > div > div > div:nth-child(3n + 2) {
  --rX: -90deg;
}

/* Front & top */

main:has(#rotate-top:checked):has(#rotate-front:checked) > div > div > div:nth-child(2),
main:has(#rotate-top:checked):has(#rotate-front:checked) > div > div > div:nth-child(3) {
  --rY: 0;
}

main:has(#rotate-top:checked):has(#rotate-front:checked) > div > div > div:nth-child(4),
main:has(#rotate-top:checked):has(#rotate-front:checked) > div > div > div:nth-child(7) {
  --rZ: 90deg;
  --rY: 90deg;
}

/* Cube animations */

main:has(#rotate-cube:checked) > div > div {
  animation: rotate 5s ease-in-out infinite;
}

/* Scale */

main:has(#scale:checked) > div > div > div {
  --scale: 1.5;
}

/* Keyframes */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: scale(1) rotateY(45deg) rotateX(-45deg);
  }

  50% {
    transform: scale(1) rotateY(225deg) rotateX(-225deg);
  }

  100% {
    transform: scale(1) rotateY(45deg) rotateX(-45deg);
  }
}
